* {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
}

header {
  background-color: #2A30AB;
  padding: 25px 0;
}

header .container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hero {
  background-image: url(ocean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom,rgba(34,34,34,0) 0%,rgba(34,34,34,0.8) 100%);
  opacity: .6; 
}

.hero .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1,
.hero h2 {
  margin: auto;
  color: #fff;
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.col {
  flex: 1 0 0%;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrap .container {
  max-width: 900px;
  margin: auto;
}